table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-row:hover .mat-cell {
  background-color: rgba(247, 241, 241, 0.671);
}