<mat-toolbar color="primary">
    <button (click)="ToggleNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Administracíon</span>
    <span class="example-spacer"></span>
    <span style="font-size: 15px;">Hola, {{nombreUsuario}} {{apellidoUsuario}}</span>
    <button mat-icon-button class="example-icon favorite-icon" matTooltip="Pendientes">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" matTooltip="Salir" (click)="cerrarSesion()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>






  

