<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-md-6">
            <h3>Ficha del Cliente </h3> 
        </div>

        <div class="col-md-6" style="display: flex;justify-content: flex-end;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a routerLink="/clientes">Clientes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
              </ol>
            </nav>
        </div>


        <div class="col-12 mb-3 text-center" *ngIf="loading">
          <span class="text-muted" style="font-size: 12px;">Buscando datos de servicios y pagos...</span>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>


        <div class="col-md-3">
            <div class="text-center">
                <img src="/assets/usuario-estandar.jpg" alt="Usuario" width="85%" style="border-radius: 10em;">
            </div>

            <div>
                <form class="example-form" [formGroup]="registerForm">
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Nombres</mat-label>
                            <input matInput formControlName="nombre">
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <mat-label>Apellidos</mat-label>
                            <input matInput formControlName="apellido">
                          </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="tipo_cedula">
                              <mat-option value="V">V</mat-option>
                              <mat-option value="J">J</mat-option>
                              <mat-option value="E">E</mat-option>
                            </mat-select>
                        </mat-form-field>
            
                        <mat-form-field class="col-md-8">
                            <mat-label>Indentificación</mat-label>
                            <input matInput formControlName="cedula">
                        </mat-form-field>
                    </div>

                    <mat-form-field class="example-full-width">
                      <mat-label>Correo</mat-label>
                      <input matInput formControlName="correo">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Social</mat-label>
                      <input matInput formControlName="cedula">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha</mat-label>
                        <input type="date" matInput formControlName="fecha_nacimiento">
                    </mat-form-field>
                  
                   

                    <mat-form-field class="example-full-width">
                        <mat-label>Dirección</mat-label>
                        <textarea matInput formControlName="direccion" rows="5"></textarea>
                    </mat-form-field>
                    
                  </form>
                  
            </div>
        </div>

        <div class="col-md-9">
            <div style="display: flex; justify-content: space-between;" class="mb-2">
                <span class="badge bg-secondary">Servicios: {{numServicios}}</span>
                <mat-icon style="color: #625e5d;" matTooltip="Enviar recordatorio de pago">notifications</mat-icon>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <mat-card style="background-color: #ad999917;">
                        <mat-card-subtitle>Balance deudor</mat-card-subtitle>
                        <mat-card-title>{{status_balance_html1 | number: "1.2-2"}} {{denominacion_html}}</mat-card-title>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card style="background-color: #62a2482e;">
                        <mat-card-subtitle>Balance a favor</mat-card-subtitle>
                        <mat-card-title>{{status_balance_html2 | number: "1.2-2"}} {{denominacion_html}}</mat-card-title>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card style="background-color: #00b3e00d;">
                        <mat-card-subtitle>Tipo de cliente</mat-card-subtitle>
                        <mat-card-title>{{ tipo_cliente_html }}</mat-card-title>
                    </mat-card>
                </div>
            </div>


            <div class="example-action-buttons mt-3">
                <button mat-button (click)="accordion.openAll()" style="color: #666;"><mat-icon>visibility</mat-icon> Expandir todos </button>
                <button mat-button (click)="accordion.closeAll()" style="color: #666;"><mat-icon>visibility_off</mat-icon> Extraer todos</button>
              </div>
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel style="background-color: #00b3e00d;" [expanded]="expandedServicios">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Servicios
                    </mat-panel-title>
                    <mat-panel-description>
                      Servicios obtenidos en Maraveca
                      <mat-icon>assignment</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-tabla-cliente-servicio [data]='servicios'></app-tabla-cliente-servicio>
                </mat-expansion-panel>
                
              
                <mat-expansion-panel [expanded]="expandedHistorial">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Historial
                    </mat-panel-title>
                    <mat-panel-description>
                      Movimientos en sus productos y servicios
                      <mat-icon>date_range</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-tabla-cliente-historial [data]='historial'></app-tabla-cliente-historial>
                </mat-expansion-panel>


                <mat-expansion-panel style="background-color: #00b3e00d;" [expanded]="expandedBalances">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Balances de Pagos
                    </mat-panel-title>
                    <mat-panel-description>
                      Pagos y Exoneraciones
                      <mat-icon>monetization_on</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-tab-group>
                    <mat-tab label="Pagos"> 
                      <app-tabla-cliente-balances [data]='balancePagosTabla' [clienteSerie]="datosClientes"></app-tabla-cliente-balances>
                    </mat-tab>
                    <mat-tab label="Exoneraciones">
                      <app-tabla-cliente-balance-exoneraciones [data]='balancePagosTablaExoneraciones' [clienteSerie]="datosClientes"></app-tabla-cliente-balance-exoneraciones>
                    </mat-tab>
                  </mat-tab-group>
                </mat-expansion-panel>




                <mat-expansion-panel [expanded]="expandedBalances">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Facturas
                    </mat-panel-title>
                    <mat-panel-description>
                      Facturas y Ajustes
                      <mat-icon>monetization_on</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-tab-group>
                    <mat-tab label="facturas"> 
                      <app-tabla-cliente-facturas [data]="facturacion"></app-tabla-cliente-facturas>
                    </mat-tab>
                    <mat-tab label="Ajustes de Facturas">
                      ajustes
                    </mat-tab>
                  </mat-tab-group>
                </mat-expansion-panel>



                <mat-expansion-panel style="background-color: #00b3e00d;">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Tickets
                    </mat-panel-title>
                    <mat-panel-description>
                      Soporte
                      <mat-icon>assignment</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-tabla-cliente-tickets [data]="soporte"></app-tabla-cliente-tickets>
                </mat-expansion-panel>


                
              </mat-accordion>
              
        </div>


    </div>
</div>