<h5>
    Cliente:
    <span *ngIf="data.kind == 'V' || data.kind == 'E'"> {{ data.nombre }} {{ data.apellido }}</span>
    <span *ngIf="data.kind != 'V' && data.kind != 'E'"> {{ data.social }}</span>
</h5>
<hr>
<form class="example-container row" [formGroup]="groupForm" (submit)="submitForm()">
    <mat-form-field class="col-md-4">
        <mat-label>Tipo de cliente *</mat-label>
        <mat-select formControlName="serie_srv">
            <mat-option value="1">Facturable</mat-option>
            <mat-option value="0">No Facturable</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-label>Estado *</mat-label>
        <mat-select formControlName="stat_srv">
            <mat-option value="1">Activo</mat-option>
            <mat-option value="3">Suspendido</mat-option>
            <mat-option value="4">Retirado</mat-option>
            <mat-option value="5">Exonerado</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-label>Tipo Plan *</mat-label>
        <mat-select formControlName="tipo_plan" (selectionChange)="cambiandoTipoPlan($event)">
            <mat-option value="0">Seleccionar</mat-option>
            <ng-container *ngIf="data.tipo_srv == 1">
                <mat-option value="1">Planes Antiguos</mat-option>
                <mat-option value="3">Planes En Dolares</mat-option>
                <mat-option value="4">Planes Nuevos</mat-option>
                <mat-option value="5">Planes Solo Dedicados</mat-option>
                <mat-option value="6">Planes Zulia</mat-option>
            </ng-container>

            <ng-container *ngIf="data.tipo_srv == 2">
                <mat-option value="7">Planes Fibra</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-6">
        <mat-label>Plan</mat-label>
        <mat-select formControlName="id_plan">
            <mat-option value="0">Seleccione</mat-option>
            <mat-option *ngFor="let p of arrayPlan" [value]="p['id_plan']">{{ p['name_plan'] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- MOSTRAR IP O CAJA DE DISTRIBUCIÓN -->
    <mat-form-field class="col-md-6" *ngIf="data.tipo_srv == 1">
        <mat-label>IP</mat-label>
        <input matInput formControlName="ip_srv">
    </mat-form-field>

    <mat-form-field class="col-md-6" *ngIf="data.tipo_srv == 2">
        <mat-label>Caja Distribución</mat-label>
        <mat-select formControlName="ap_srv">
            <mat-option value="0">Seleccione</mat-option>
            <mat-option *ngFor="let c of arrayCajas" [value]="c['id_caja']">{{ c['nombre_caja'] }}</mat-option>
        </mat-select>
    </mat-form-field>
    <!--FIN DE MOSTRAR IP O CAJA DE DISTRIBUCIÓN -->

    <mat-form-field class="col-md-4" [ngClass]="{'col-md-6': data.tipo_srv == 2}">
        <mat-label>Equipo</mat-label>
        <mat-select formControlName="nombre_equipo" (selectionChange)="cambiandoEquipo($event)">
            <mat-option value="">Seleccione</mat-option>
            <mat-option *ngFor="let e of arrayEquipos" [value]="e['nombre_equipo']">{{ e['nombre_equipo'] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-4" [ngClass]="{'col-md-6': data.tipo_srv == 2}">
        <mat-label>Serial</mat-label>
        <mat-select formControlName="serial_srv">
            <mat-option [value]="data['serial_srv']">{{ data['serial_srv'] }} (Actual)</mat-option>
            <mat-option *ngFor="let s of arraySeriales" [value]="s['serial_articulo']">{{ s['serial_articulo'] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-4" *ngIf="data.tipo_srv == 1">
        <mat-label>Ap</mat-label>
        <mat-select formControlName="ap_srv">
            <mat-option value="">Seleccionar</mat-option>
            <mat-option *ngFor="let a of arrayAps" [value]="a['id']">{{ a['nombre_ap'] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-12" *ngIf="data.tipo_srv == 2">
        <mat-label>Mnaga Empalme</mat-label>
        <input matInput formControlName="nombre_manga">
    </mat-form-field>

    <div class="col-md-4" style="padding-top: 16px;">
        <mat-slide-toggle
          class="example-margin"
          [checked]="checked"
          [(ngModel)]="checked"
          [ngModelOptions]="{standalone: true}"
          (change)="ToogleComision($event)"
          >
        Genera Comisión
      </mat-slide-toggle>
    </div>

    <mat-form-field class="col-md-4" *ngIf="checked" style="background-color: #ff408114;">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="user_comision_serv">
            <mat-option value="">Seleccionar</mat-option>
            <mat-option *ngFor="let user of arrayUsuariosComisiones" [value]="user['id_user']">{{ user['nombre_user'] }} {{ user['apellido_user'] }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-4" *ngIf="checked" style="background-color: #ff408114;">
        <mat-label>Comisión %</mat-label>
        <input matInput name="porcentaje_comision_serv" formControlName="porcentaje_comision_serv" type="number" min="0" max="100">
    </mat-form-field>

    
    <mat-form-field class="col-md-4">
        <mat-label>Comentario</mat-label>
        <input matInput name="comentario" formControlName="comment_srv">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-label>Costo Instalación</mat-label>
        <input matInput name="costo_instalacion_srv" formControlName="costo_instalacion_srv">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-label>Días de Credito</mat-label>
        <input matInput name="credito_srv" formControlName="credito_srv">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-label>Fecha Instalación</mat-label>
        <input type="date" name="instalacion_srv" matInput formControlName="instalacion_srv">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-label>Fecha Inicio Servicio</mat-label>
        <input type="date" name="start_srv" matInput formControlName="start_srv">
    </mat-form-field>
    


    <div class="col-12 mt-3 text-center">
        <mat-progress-bar *ngIf="loadingForm" mode="indeterminate"></mat-progress-bar>
        <div class="example-button-row" *ngIf="!loadingForm" style="display: block;">
            <button mat-raised-button type="button" (click)="ngOnDestroy()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </div>
    </div>


</form>