<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>
        <div *ngIf="column == 'id_srv'"> ID</div>
        <div *ngIf="column == 'name_plan'"> Plan</div>
        <div *ngIf="column == 'direccion'" class="text-end"> Acciones</div>
      </th>
      <td mat-cell *matCellDef="let element" class="c-pointer">
        <div *ngIf="column != 'direccion'"> {{element[column]}} </div>
        <div *ngIf="column == 'direccion'" class="text-end">

          <div style="display: flex;justify-content: space-between;">
            <div>
              <button mat-icon-button>
                <mat-icon *ngIf="element['stat_srv']==1" matTooltip="ACTIVO" [matMenuTriggerFor]="menuStatus" style="color: #63b963;">check_circle</mat-icon>
                <mat-icon *ngIf="element['stat_srv']==3" matTooltip="SUSPENDIDO" [matMenuTriggerFor]="menuStatus" style="color: #a59d9d;">remove_circle</mat-icon>
                <mat-icon *ngIf="element['stat_srv']==4" matTooltip="RETIRADO" [matMenuTriggerFor]="menuStatus" style="color: #b93c3c;">highlight_off</mat-icon>
                <mat-icon *ngIf="element['stat_srv']==5" matTooltip="EXONORADO" [matMenuTriggerFor]="menuStatus" style="color: #efcd19;">grade</mat-icon>
                
                <mat-icon class="spinner" *ngIf="LoadingStatus">settings_backup_restore</mat-icon>
                <!-- <span class="spinner"></span> -->
              </button>
              <mat-menu #menuStatus="matMenu">
                <button mat-menu-item>
                  <mat-icon style="color: #63b963;">check_circle</mat-icon>
                  <span>Activar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon style="color: #a59d9d;">remove_circle</mat-icon>
                  <span>Suspender</span>
                </button>
                <button mat-menu-item>
                  <mat-icon style="color: #b93c3c;">highlight_off</mat-icon>
                  <span>Retirar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon style="color: #efcd19;">grade</mat-icon>
                  <span>Exonerado</span>
                </button>
              </mat-menu>
            </div>
            
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editarServicio(element)">
                  <mat-icon>mode_edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>star</mat-icon>
                  <span>Promoción</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>rotate_left</mat-icon>
                  <span>Prorrateo</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>book_online</mat-icon>
                  <span>Compromiso</span>
                </button>
              </mat-menu>
            </div>
          </div>
          

          



        </div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" style="background-color: azure;">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <!-- CONTENIDO -->
          <div class="row mt-3">
            <div class="col-md-6">
              <p><b>IP:</b> {{element['ip_srv']}}</p>
            </div>
            <div class="col-md-6">
              <p><b>AP:</b> {{element['ip_ap']}} - <i>{{element['nombre_ap']}}</i></p>
            </div>
            <div class="col-md-6">
              <p><b>Nombre Equipo:</b> {{element['nombre_equipo']}}</p>
            </div>
            <div class="col-md-6">
              <p><b>Serial Equipo:</b> {{element['serial_srv']}}</p>
            </div>
            <div class="col-md-6">
              <p><b>intensidad de Señal:</b> {{element['signal_srv']}}</p>
            </div>

            <div class="col-md-12 mt-3">
              <section class="text-center">
                <div class="example-button-row">
                  <button mat-stroked-button>Basic</button>
                  <button mat-stroked-button color="primary">Primary</button>
                  <button mat-stroked-button color="accent">Accent</button>
                  <button mat-stroked-button color="warn">Warn</button>
                </div>
              </section>
            </div>
          </div>

        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>